/* === Montserrat - regular */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}


/* === Montserrat - 700 */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}


/* === Raleway - regular */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("../assets/fonts/Raleway/Raleway-Regular.woff2") format("woff2");
}


/* === Raleway - 100 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"), local("Raleway-Thin"), url("../assets/fonts/Raleway/Raleway-Thin.woff2") format("woff2");
}


/* === Raleway - 200 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("../assets/fonts/Raleway/Raleway-ExtraLight.woff2") format("woff2");
}


/* === Raleway - 300 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"), local("Raleway-Light"), url("../assets/fonts/Raleway/Raleway-Light.woff2") format("woff2");
}


/* === Raleway - 500 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"), local("Raleway-Medium"), url("../assets/fonts/Raleway/Raleway-Medium.woff2") format("woff2");
}


/* === Raleway - 600 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../assets/fonts/Raleway/Raleway-SemiBold.woff2") format("woff2");
}


/* === Raleway - 800 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../assets/fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
}


/* === Raleway - 900 */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local("Raleway Black"), local("Raleway-Black"), url("../assets/fonts/Raleway/Raleway-Black.woff2") format("woff2");
}
