main
	.content.content--intro
		.content__inner
		.shape-wrap
			svg.shape(width='100%', height='100vh', preserveaspectratio='none', viewbox='0 0 1440 800')
				path(d='M -65.11,-1.008 C -38.79,8.492 -48.8,43.89 -24.09,59.91 -17.38,64.25 -7.411,68.1 2.397,67.74 19.94,67.09 30.89,61.16 46.62,50.39 64.99,37.82 92.16,36.57 112.8,41.49 141.9,48.44 153.5,80.16 178.5,78.34 194.6,77.17 205.3,67.96 216.8,48.87 224.6,35.89 230.6,20.21 251.4,19.41 278.8,18.35 288.2,28.98 298.5,67.48 303.6,86.48 308.2,97.24 316.3,102.6 329.4,111.3 340.7,106 350.5,100.2 377.5,84.13 369.6,23.41 401.2,20.7 415.9,19.43 431.7,33.86 449.9,57.07 462.7,73.41 475.5,91.96 494.9,96.72 503.8,98.9 513,97.38 521.6,90.13 532.1,81.21 532.2,62.36 551.7,62.17 565.7,62.03 569.6,72.01 575.9,89 580.5,101.3 598.1,139.1 628.6,117.5 649.1,103 641.6,81.95 658,80.67 674.4,79.39 692.2,136.3 720.8,141.4 738.9,144.6 763.5,132 771.2,119.3 782.1,101.2 783.6,81.7 799.1,81.97 829.3,82.49 818.2,122.8 838.2,143.8 858.1,164.8 875.7,158.9 886.4,155.8 910.4,149 913.1,122.8 939.2,119.6 953.9,117.9 964.8,130.2 979.7,131.6 997.3,133.3 1016,132.6 1027,121 1038,109.3 1038,80.15 1054,79.92 1071,79.67 1073,89.94 1079,106.8 1084,119.5 1089,133.9 1101,141.1 1111,147.3 1124,146.3 1136,145 1150,143.4 1160,132.7 1177,130.8 1194,128.8 1219,128.2 1236,138.8 1257,151.6 1271,147.7 1280,137.3 1291,124.1 1294,92.34 1316,90.47 1344,88.04 1348,163.9 1380,183.1 1401,195.1 1428,196.6 1451,190.6 1478,183.7 1503,161.8 1518,143 1544,109.1 1550,43.89 1551,32.49 1568,-303.4 -510,-224.1 -65.11,-1.008 Z', pathdata:id='M -35.73,45.41 C -9.412,61.01 -30.93,379.4 -17.31,545.8 -12.26,607.5 -54.94,740.4 6.142,730.1 63.67,720.4 26.97,284.9 27.01,202.3 27.06,104.3 51.66,29.07 106,54.36 160.3,79.65 103.7,491.7 187.7,465.7 231.9,452 156.6,99.89 249.4,94.08 285.7,91.81 299.9,127.5 305,190.9 316,327.7 328.6,462.6 321.1,598.3 315.8,695.4 294.5,776.7 353.9,773.6 415.6,770.4 379.8,650.7 368.7,588.8 337.4,415 369.6,190.1 391.1,111 412.5,31.92 457,96.83 463.3,127.2 480.9,212.1 493.9,307.8 489,396.1 487.4,425.7 482.1,460.1 517.1,455.2 548.5,450.7 476.2,166 550.9,168.9 594.8,170.6 591.6,626.8 586.3,663.5 578.4,717.8 609.1,742.4 633.9,700.6 651.9,670.2 578.3,209.7 650.8,194.1 723.2,178.5 700.8,277.9 687.6,401.1 680.2,470 766.1,486.3 756,414.3 750.3,373.5 703.1,145.6 793.4,146.1 939.9,146.8 846.2,556.8 844,601.8 841.9,646.8 878.6,682.8 903.3,630.6 928,578.4 863.2,264.8 891.7,178.8 920.2,92.81 997.3,215.6 972,292.8 946.6,370 1030,353.1 999,295.7 985.9,271.6 977.1,119.1 1048,117.8 1119,116.5 1127,634.6 1123,682.6 1119,730.6 1110,749.8 1118,771.3 1134,815.5 1173,803.5 1164,734 1155,664.5 1139,665.8 1143,418.4 1148,170.9 1225,122 1240,215 1249,273 1202,413 1282,391.7 1324,380.7 1280,165.5 1316,159.6 1362,152 1296,358.2 1379,361.2 1462,364.2 1312,753 1444,751.2 1592,749.2 1484,458.5 1505,312.2 1518,221.3 1544,58.44 1545,39.57 1562,-514.4 -480.6,-322.6 -35.73,45.41 Z')

nav.navbar.navbar-default.secundary-color
	.container-fluid
		//- Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#')
				svg(class="csMixtura" width='130', height='48', viewbox='0 0 130 48')
					g(fill-rule='evenodd')
						path(fill-rule='nonzero', d='M20.7566186,18.897077 C21.2430387,21.4418982 21.6833461,23.9970546 22.7110713,30.1284776 C23.7429164,36.2844798 24.1848518,38.8490838 24.6770287,41.4240231 C24.9921774,43.0727977 25.2606048,44.3338691 25.490857,45.225091 C25.62268,45.7353296 25.7441342,46.1339184 25.8646037,46.4364827 C25.9480688,46.6461086 26.0353175,46.8234602 26.1460303,46.9863078 C26.4322109,47.407251 26.812085,47.7125749 27.4609375,47.7125749 C28.232808,47.7125749 28.5675576,47.3618233 28.8565519,46.8286715 C28.9487073,46.6586585 29.0272517,46.4646212 29.1069423,46.2276631 C29.2325289,45.8542345 29.3702335,45.3406679 29.526258,44.6749953 C29.8060201,43.481401 30.1492555,41.7773257 30.5668702,39.5306596 C31.1982203,36.1341486 31.4607656,34.616444 33.2579078,24.0969667 C33.3399722,23.616693 33.3698759,23.4417597 33.4220587,23.1367242 C34.6333538,16.056077 35.3878149,11.8018308 36.0628545,8.36146488 C36.1698269,7.81627621 36.2724433,7.30490832 36.3706994,6.82765285 C36.4795111,7.4119019 36.5940094,8.04755475 36.7142891,8.73451648 C37.3291459,12.2461893 37.885512,15.7673258 39.1845655,24.2171653 C40.4870745,32.6894815 41.0448035,36.2192431 41.6644844,39.7584686 C42.059842,42.0165009 42.3958502,43.741395 42.6817464,44.952326 C42.8419922,45.631057 42.9882799,46.1569503 43.128772,46.5439912 C43.2199583,46.7951999 43.3130993,47.0030484 43.4265464,47.1864216 C43.7205701,47.6616747 44.1031694,48 44.8046875,48 C45.590115,48 45.9885598,47.6145091 46.3580145,47.0007725 C46.523967,46.7250931 46.6849977,46.3740989 46.8566967,45.9312985 C47.1466008,45.183655 47.4787459,44.1393075 47.8664692,42.7777623 C48.4673534,40.6676727 49.0035918,38.5724184 50.2546045,33.5426282 C51.4967558,28.5484663 52.0294465,26.4670739 52.6179341,24.4005168 C52.6855346,24.1631281 52.7511972,23.9364254 52.8149153,23.7204783 C53.2385669,25.4777942 53.7088009,27.7527852 54.3840988,31.2300037 C54.4573255,31.6070596 54.5339712,32.0032418 54.6225684,32.4624055 C55.7440407,38.2745453 55.9086896,39.1109574 56.3238634,40.9960566 C56.6019584,42.2587489 56.8409296,43.2206913 57.0533564,43.9098868 C57.180124,44.3211704 57.3005188,44.6470541 57.4281945,44.905977 C57.522818,45.0978708 57.6255499,45.2642842 57.7586542,45.4179294 C58.0470673,45.7508508 58.4299256,45.988024 58.96875,45.988024 C60.7874487,45.988024 62.1120452,43.0437957 64.9314867,34.491018 L74,34.491018 L74,31.6167665 L62.8328117,31.6167665 L62.5082711,32.6096967 C61.2676105,36.4054907 60.2444455,39.2446611 59.4452248,41.1145284 C59.416178,41.1824869 59.3874619,41.2490765 59.3590829,41.3142901 C59.2916951,41.0265606 59.2212021,40.7155062 59.1475721,40.3811889 C58.7404735,38.5327552 58.5756615,37.6955146 57.461416,31.920828 C57.3726165,31.4606162 57.2957604,31.0633461 57.22229,30.6850355 C56.5205278,27.071548 56.0367668,24.7369937 55.590291,22.9034704 C55.3157874,21.7761778 55.0688962,20.9041244 54.8387359,20.2731548 C54.6983468,19.8882868 54.5597806,19.578611 54.4048968,19.3262425 C54.0648887,18.7722316 53.6448287,18.3952096 52.8984375,18.3952096 C52.11301,18.3952096 51.7145652,18.7807005 51.3451105,19.394437 C51.179158,19.6701165 51.0181273,20.0211107 50.8464283,20.4639111 C50.5565242,21.2115546 50.2243791,22.2559021 49.8366558,23.6174473 C49.2357716,25.7275368 48.6995332,27.8227912 47.4485205,32.8525814 C46.2063692,37.8467433 45.6736785,39.9281356 45.0851909,41.9946928 C45.0705417,42.0461355 45.0559835,42.0970765 45.0415164,42.1475149 C44.879404,41.3162596 44.7031161,40.3554561 44.5122734,39.2654835 C43.8974166,35.7538107 43.3410505,32.2326742 42.041997,23.7828347 C40.739488,15.3105185 40.181759,11.7807569 39.5620781,8.24153142 C39.1667205,5.98349914 38.8307123,4.25860503 38.5448161,3.04767405 C38.3845703,2.36894298 38.2382826,1.84304971 38.0977905,1.45600884 C38.0066042,1.20480012 37.9134632,0.996951583 37.8000161,0.81357839 C37.5059924,0.338325319 37.1233931,-7.91382927e-15 36.421875,0 C35.7448315,7.65854446e-15 35.3637646,0.320835675 35.0669631,0.772570192 C34.9505384,0.949769588 34.854402,1.14994201 34.7599109,1.39099025 C34.6154812,1.75943248 34.4639679,2.25787384 34.2968789,2.89997616 C33.99832,4.04730078 33.6434039,5.68234129 33.2257217,7.81107513 C32.5447328,11.2817615 31.7875687,15.5512493 30.5723673,22.6547311 C30.5201463,22.95999 30.4902191,23.1350607 30.4081079,23.6156082 C28.6145518,34.1140949 28.3519167,35.6323185 27.7243896,39.0082625 C27.6263279,39.5358107 27.5325197,40.0325118 27.4428821,40.4985513 C26.9840956,38.0733968 26.5378261,35.4755606 25.5623662,29.6559536 C24.5305211,23.4999514 24.0885857,20.9353473 23.5964088,18.360408 C23.2812601,16.7116335 23.0128327,15.4505621 22.7825805,14.5593401 C22.6507575,14.0491015 22.5293033,13.6505128 22.4088338,13.3479485 C22.3253687,13.1383226 22.23812,12.960971 22.1274072,12.7981233 C21.8412266,12.3771801 21.4613525,12.0718563 20.8125,12.0718563 C19.6669594,12.0718563 19.2771463,12.7079261 18.7477631,14.1726485 C18.4483347,15.001121 18.1160873,16.1979167 17.7432108,17.7798448 C17.0606027,20.6758087 16.2335372,24.9021642 15.259725,30.4670659 L0,30.4670659 L0,33.3413174 L17.6946545,33.3413174 L17.9009886,32.1476281 C18.9563985,26.0418439 19.8428614,21.4678764 20.5575704,18.4357241 C20.5778414,18.3497247 20.5979656,18.2650062 20.6179415,18.1815716 C20.6630306,18.4107715 20.7092546,18.6492811 20.7566186,18.897077 Z')
						path(d='M78.5614035,29.5639535 C78.2690044,29.8546526 77.9152068,30 77.5,30 C77.0847932,30 76.7309956,29.8546526 76.4385965,29.5639535 C76.1461974,29.2732544 76,28.9186067 76,28.5 C76,28.0813933 76.1461974,27.7267456 76.4385965,27.4360465 C76.7309956,27.1453474 77.0847932,27 77.5,27 C77.9152068,27 78.2690044,27.1453474 78.5614035,27.4360465 C78.8538026,27.7267456 79,28.0813933 79,28.5 C79,28.9186067 78.8538026,29.2732544 78.5614035,29.5639535 Z M76,42 L76,31 L79,31 L79,42 L76,42 Z M91,31 L87.4636542,36.3808664 L90.9803536,42 L87.8762279,42 L85.7937132,38.6841155 L83.7897839,42 L81,42 L84.5166994,36.6389892 L81,31 L84.1041257,31 L86.1866405,34.3357401 L88.1905697,31 L91,31 Z M95.7630769,39.7800289 L97,39.7800289 L97,42 L95.3569231,42 C94.310764,42 93.5046182,41.7554294 92.9384615,41.2662808 C92.3723049,40.7771321 92.0892308,39.9681677 92.0892308,38.8393632 L92.0892308,33.7409551 L91,33.7409551 L91,31.577424 L92.0892308,31.577424 L92.0892308,29 L94.6923077,29 L94.6923077,31.577424 L96.9815385,31.577424 L96.9815385,33.7409551 L94.6923077,33.7409551 L94.6923077,38.8393632 C94.6923077,39.1780046 94.7723069,39.4194397 94.9323077,39.5636758 C95.0923085,39.707912 95.3692288,39.7800289 95.7630769,39.7800289 Z M106.329545,31 L109,31 L109,41.8627451 L106.329545,41.8627451 L106.329545,40.2156863 C105.66035,41.4052347 104.568189,42 103.05303,42 C101.866156,42 100.893943,41.5915074 100.136364,40.7745098 C99.3787841,39.9575123 99,38.8235367 99,37.372549 L99,31 L101.651515,31 L101.651515,36.9803922 C101.651515,37.8300696 101.859846,38.4836578 102.276515,38.9411765 C102.693184,39.3986951 103.26136,39.627451 103.981061,39.627451 C104.700761,39.627451 105.272094,39.3986951 105.695076,38.9411765 C106.118058,38.4836578 106.329545,37.8300696 106.329545,36.9803922 L106.329545,31 Z M114.792079,31.1565836 L114.792079,33.0747331 C115.531357,31.6915708 116.600653,31 118,31 L118,33.8185053 L117.306931,33.8185053 C116.475243,33.8185053 115.848187,34.0240193 115.425743,34.4350534 C115.003298,34.8460875 114.792079,35.5539689 114.792079,36.5587189 L114.792079,42 L112,42 L112,31.1565836 L114.792079,31.1565836 Z M128,36 C128,35.06748 127.699662,34.3343585 127.098976,33.8006135 C126.498291,33.2668685 125.795226,33 124.989761,33 C124.184296,33 123.484645,33.263801 122.890785,33.791411 C122.296925,34.319021 122,35.0490751 122,35.9815951 C122,36.9141151 122.300338,37.650304 122.901024,38.190184 C123.501709,38.730064 124.201361,39 125,39 C125.798639,39 126.498291,38.7331315 127.098976,38.1993865 C127.699662,37.6656415 128,36.93252 128,36 Z M119,36.4807018 C119,34.8725066 119.47106,33.5570227 120.413194,32.5342105 C121.355329,31.5113984 122.552076,31 124.003472,31 C125.454868,31 126.562496,31.6046723 127.326389,32.8140351 L127.326389,31.154386 L130,31.154386 L130,41.845614 L127.326389,41.845614 L127.326389,40.0508772 C126.524302,41.3502989 125.410308,42 123.984375,42 C122.558442,42 121.371243,41.4821689 120.422743,40.4464912 C119.474243,39.4108135 119,38.0888969 119,36.4807018 Z')

		//- Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') News
				li
					a(href='#') Features
				li
					a(href='#') How it Works
				li
					a(href='#') Blog

				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| Dropdown
						span.caret
					ul.dropdown-menu
						li
							a(href='#') Action
						li
							a(href='#') Another action
						li
							a(href='#') Something else here
						li.divider(role='separator')
						li
							a(href='#') Separated link

section.b1
	.b1-background-random([ngStyle]="bgStyle()")
	.container-fluid
		.md-container__inner
			.md-centered
				.b1-paraghap
					p Cambia la forma de pedir las canciones cuando  estás con tus amigos
						span en un bar, en tu casa, oficina o en cualquier otro lugar.

				.row
					.b1-col-md-6.g-right
						a.b1-image.center(href="")
							img([src]="APPLE_STORE")

					.b1-col-md-6.g-left
						a.b1-image(href="")
							img([src]="PLAY_STORE")

